<div class="umb-dialog-body with-footer" ng-controller="Zippy.Media.Controller">

    <div class="umb-pane" ng-show="!uploading">
        <p class="umb-abstract">
            Select the zip file you want to upload and unpack to <strong>{{currentNode.name}}</strong>
        </p>
        <div ng-show="files.length == 0">
            <form id="uploadZipFileForm">
                <input id="zippy-file-upload" type="file" file-input="files" />
            </form>
        </div>

        <div ng-show="!uploading">
            <p ng-show="files.length > 0">File to upload and unpack</p>

            <ul class="umb-actions umb-actions-child">
                <li ng-repeat="file in files track by $index">
                    <i class="large icon-compress"></i>
                    <span style="width: 305px;" class="menu-label" title="{{file.name}}">{{file.name | cut:true:42:' ...'}}</span>
                    <button class="btn btn-warning pull-right" ng-click="removeFile($index)" title="Clear file"><i class="icon icon-trash" style="font-size: 15px; color: #ffffff"></i></button>
                </li>
            </ul>

        </div>

        <div style="margin-top: 35px;" ng-show="files.length > 0 && !uploadCompleted">
            <button class="btn btn-primary pull-right" ng-click="uploadAndUnpack(currentNode.id)">Upload and unpack</button>
        </div>
    </div>

    <div class="umb-pane" ng-show="uploading">
        <div id="loading" style="margin-bottom: 35px;">
            <div class="notice">
                <p>Please wait. Your files are being uploaded and unpacked, this can take a while.</p>
                <p>Do not close this window during upload</p>
            </div>

            <div class="umb-loader-wrapper">
                <div id="body_prog1" class="umb-loader"></div>
            </div>
        </div>
    </div>
</div>

<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
    <button class="btn" ng-click="nav.hideDialog(true)">
        Cancel
    </button>
</div>





